.DS_Store
ManagedFileService/bin
ManagedFileService/obj
ManagedFileService/Migrations
.idea
ManagedFileService.sln.DotSettings.user
Uploads/2560_yeulzebu.qh1.jpg
Uploads/invoice (53)_0r3pf45w.5y0.pdf
Uploads/ITTAI TUMELO - CV_wfpyfab2.jlo.pdf
Uploads/JEALI Logo_udt5lxum.qw4.png
Uploads/stp_fpdvian5.svo.jpeg
Uploads/STP-Logo-1_jva3d31d.jac.png
Uploads/STPLogo_udiblryp.2a1.png
